extends layout


block content
    nav.navbar.navbar-default.navbar-fixed-top( role="navigation" )
        .navbar-header
            a.navbar-brand Tributum

        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav
                li.dropdown.ng-cloak
                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                        | {{ selectedCities }}
                        b.caret

                        ul.dropdown-menu
                            li( ng-repeat="city in cities" )
                                a(href="#", ng-click="changeCity( city )" ) {{ city }}

    .container.ng-cloak
        .row
            .col-md-12
                h1 {{ selectedCities | capitalize }}

                h2  Population
                p Evolution de la population de la ville, à noter que le recensement n'ayant pas lieu toutes les années la valeur n'est pas continue mais présente des effets d'escaliers. La valeur est exprimée&nbsp;
                    b en habitants.
                svg#populationChart( width="#{chartWidth}", height="300px" )

                h2 Dépense de fonctionnement
                p Il s’agit des dépenses liées au fonctionnement courant de la collectivité (les frais de rémunération des personnel, les dépenses d'entretien et de fourniture, les frais de fonctionnement divers correspondant aux compétences de la collectivité, les intérêts de la dette...). La valeur est exprimée &nbsp;
                    b en euro par habitant.

                svg#fonctionnementChart( width="#{chartWidth}", height="300px" )

                h2 Imposition directe
                p Produit de l'impôt direct. La valeur est exprimée&nbsp;
                    b en euros par habitant.
                svg#impotDirectChart( width="#{chartWidth}", height="300px" )

                h2 Recette réelles
                p Il s’agit des produits de fonctionnement issus de la fiscalité directe locale (notamment taxe d'habitation, taxe sur le foncier bâti et le foncier non bâti, taxe professionnelle jusqu'en 2009) ;  des recettes fiscales indirectes, des dotations versées par l'État, des ressources d'exploitation des domaines et des produits financiers. La valeur est exprimée&nbsp;
                    b en euros par habitant.
                svg#recetteReelleChart( width="#{chartWidth}", height="300px" )

                h2 Dépense d'équipement
                p Elles rassemblent généralement les dépenses en capital (les remboursements d'emprunts, les prêts et avances accordés par la collectivité,  les dépenses directes d'investissement, les subventions d'équipements versées). La valeur est exprimée&nbsp;
                    b en euro par habitant.
                svg#equipementChart( width="#{chartWidth}", height="300px" )

                h2 Encours de la dette
                p L'encours de dette correspond au total des emprunts et dettes de la collectivité à moyen et long terme. On calcule le ratio &nbsp;
                    b en euros par habitant.
                svg#detteChart( width="#{chartWidth}", height="300px" )

                h2 Dotation globale de fonctionnement
                p La dotation globale de fonctionnement (DGF) est la principale dotation de fonctionnement de l'État aux collectivités territoriales. Elle se divise en deux parties : la part forfaitaire perçue par toutes les collectivités bénéficiaires et la part péréquation reversée aux collectivités les plus défavorisées. On calcule le ratio&nbsp;
                    b en euros par habitant.
                svg#dotattionChart( width="#{chartWidth}", height="300px" )

        .row(style="margin-top: 32px")
            .col-md-6
                .row
                    .col-md-4
                        img.img-responsive( src='/images/logo_mitm.jpg' )
                    .col-md-8
                        p Application réalisée par&nbsp;
                            a(href="http://www.methodinthemadness.eu") Method In The Madness
                            | , pour nous contacter écrire à contact@methodinthemadness.eu

            .col-md-6
                .row
                    .col-md-4
                        img.img-responsive( src='/images/logo_cus.jpg' )
                    .col-md-8
                        p Données fournises dans le cadre du programme Open Data de la&nbsp;
                            a(href="http://www.strasbourg.eu") Communauté Urbaine de Strasbourg.
                            | &nbsp;Le jeu de données utilisé se trouve&nbsp;
                            a(href="http://www.strasbourg.eu/fr/ma-situation/professionnel/open-data/donnees/budget-open-data/ratios-budgets-primitifs-communes-cus") ici.


