extends layout


block content
    nav.navbar.navbar-default.navbar-fixed-top( role="navigation" )
        .navbar-header
            a.navbar-brand Tributum

        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                        | {{ selectedCities }}
                        b.caret

                        ul.dropdown-menu
                            li( ng-repeat="city in cities" )
                                a(href="#", ng-click="changeCity( 'left', city )" ) {{ city }}
    .container
        .row
            .col-md-12
                h1 {{ selectedCities | capitalize }}

                h2  Population
                p Evolution de la population de la ville, à noter que le recensement n'ayant pas lieu toutes les années ce n'est pas une variable linéaires.
                svg#populationChart( width="#{chartWidth}", height="300px" )

                h2 Fonctionnement
                p Dépense réelles de fonctionnement en euros par habitant.
                svg#fonctionnementChart( width="#{chartWidth}", height="300px" )

                h2 Imposition directe
                p Produit de l'impôt direct en euros par habitant.
                svg#impotDirectChart( width="#{chartWidth}", height="300px" )

                h2 Recette réelles
                p Recettes réelles de fonctionnement en euros par habitant.
                svg#recetteReelleChart( width="#{chartWidth}", height="300px" )

                h2 Dépense d'équipement
                p Dépense d'équipement brut en euros par habitant.
                svg#equipementChart( width="#{chartWidth}", height="300px" )

                h2 Encours de la dette
                p Encours global de la dette en euros par habitant.
                svg#detteChart( width="#{chartWidth}", height="300px" )

                h2 Dotation globale de fonctionnement
                p Dotation globale de fonctionnement en euros par habitant.
                svg#dotattionChart( width="#{chartWidth}", height="300px" )


